#### Import Packages

In [31]:
import sys

In [32]:
sys.path.extend(["/home/ap/personalization_project"])

In [33]:
import pandas as pd
from utils.loss_functions import mean_squared_error
from models.model_based.SVDpp import SurSVDpp
from models.model_based.matrix_creation import hit_rate_matrix_popular_items
from models.cross_validation.ModelTester import ModelTester
from models.cross_validation.parameter_test import parameter_test
from models.cross_validation.parameter_test import ready_to_plot

#### Load Data

In [34]:
filename = "/home/ap/personalization_project/models/model_based/train.csv"
# data = pd.read_csv(filename, nrows=10000)
data = pd.read_csv(filename)
data.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1

#### Sample Data

In [35]:
ratings_matrix = hit_rate_matrix_popular_items(data=data)
size = 5
ratings_matrix.iloc[:size, :size]

media_id  983248   1575269  3135183  5639256   8086130
user_id
0             NaN      1.0      NaN      NaN  1.000000
1             1.0      1.0      NaN      NaN  1.000000
2             1.0      1.0      NaN      1.0  1.000000
4             NaN      0.0      NaN      NaN  0.333333
5             1.0      1.0      1.0      NaN  1.000000

#### Perform Tests

In [36]:
k_values = [5, 50, 100]
cv_times = 3
ratios = (0.6, 0.2, 0.2)
model_tester = ModelTester(ratios=ratios, model_based=True, seed=42)

In [37]:
d_test, d_train = parameter_test(k_val=k_values,
                                 cv_times=cv_times,
                                 model=SurSVDpp,
                                 loss_function=mean_squared_error,
                                 model_tester=model_tester,
                                 data=ratings_matrix)

>>> The cross-validation framework is being built ...
    Please wait, you'll be able to use all of its features soon!
>>> DONE
MSE: 0.197994142581
MSE: 0.526134399566
MSE: 0.197994142581
MSE: 0.444450769339
MSE: 0.197994142581
MSE: 0.444005454474
MSE: 0.197994142581
MSE: 0.444528407497
MSE: 0.197994142581
MSE: 0.443536309672
MSE: 0.197994142581
MSE: 0.444078041943
MSE: 0.197994142581
MSE: 0.444257519478
MSE: 0.197994142581
MSE: 0.443066795512
MSE: 0.197994142581
MSE: 0.444292864794

#### Retrieve Results

In [38]:
dftest = ready_to_plot(d_test)
dftrain = ready_to_plot(d_train)

In [39]:
dftest

         mean  std
5    0.197994  0.0
50   0.197994  0.0
100  0.197994  0.0

In [40]:
dftrain

         mean       std
5    0.471530  0.047289
50   0.444048  0.000497
100  0.443872  0.000698